<div class="site-banner">
    <div class="site-description   <%if(pageModel == 'home'){%> no-description-image <%}%>">
        <div class="site-description__BgColor"></div>
        <div class="site-description-container common-wrap">
            <h1 class="fontStyle-1">
                <span class="banner-title fadeInUp animated" style="letter-spacing:0.45em;">
                    一个&nbsp;<span style="font-family:futura-lt-w01-light,sans-serif;">普通</span> 人
                </span>
            </h1>
        </div>
    </div>
    <%if(pageModel == 'home'){%>
        <image class="banner-image block" src="/image/banner-green.jpg" />
    <%}%>
</div>
