<footer class="site-footer">
    <div class="site-footer-container common-wrap">
        <div class="footer-descript">
            <p class="fontStyle-1 fc-white" style="letter-spacing:0.45em;">A Front-end Engineer
                <p>
        </div>
        <div class="footer-detail clearfix">
            <div class="footer-detail-item">
                <ul class="social-links">
                    <li>
                        <a class="social-icon" href="https://github.com/Keraun" target="_blank" alt="GitHub" rel="nofollow">
                            <span class="icon icon-big icon-uniE60D"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-icon" href="http://weibo.com/AntelopeWu" target="_blank" alt="Weibo" rel="nofollow">
                            <span class="icon icon-big icon-uniE600"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-icon" href="tencent://message/?Menu=yes&uin=915064510" target="_self" alt="QQ" rel="nofollow">
                            <span class="icon icon-middle icon-uniF1D6"></span>
                        </a>
                    </li>
                    <li>
                        <a class="social-icon" href="http://iwuly.com/snippets" target="_blank" alt="Snippets" rel="nofollow">
                            <span class="icon icon-middle icon-beaker"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer-detail-item">
                <div class="fontStyle-2 fc-white">
                    <p>浙ICP备18011337号</p>
                    <p>©2016-2024 by Keraun All Rights Reserved </p>
                </div>
            </div>
        </div>
    </div>
</footer>
 <script src="https://g.alicdn.com/sj/lib/jquery.min.js" type="text/javascript" charset="utf-8"></script>
 <script src="/js/base.js" type="text/javascript" charset="utf-8"></script>
