    <header class="site-header">
        <div class="site-container commmon-wrap">
            <div class="site-content">
                <nav class="site-nav">
                    <ul class="site-nav-container">
                        <li class="site-nav-item">
                            <a class="site-nav-link" href="/" title="">
                                <p class="button-label button-label__selected site-nav-label">主页</p>
                            </a>
                        </li>
                        <li class="site-nav-item">
                            <a class="site-nav-link" href="/blog" title="">
                                <p class="button-label site-nav-label">博客</p>
                            </a>
                        </li>
                        <li class="site-nav-item">
                            <a class="site-nav-link" href="/about" title="">
                                <p class="button-label site-nav-label">关于</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
