    <header class="site-header">
        <div class="site-container commmon-wrap">
            <div class="site-content">
                <nav class="site-nav">
                    <ul class="site-nav-container">
                        <li class="site-nav-item">
                            <a class="site-nav-link" href="/" title="">
                                <p class="button-label <%if(pageModel == 'home') {%>button-label__selected <%}%> site-nav-label transition">主页</p>
                            </a>
                        </li>
                        <li class="site-nav-item">
                            <a class="site-nav-link" href="/blog" title="">
                                <p class="button-label <%if(pageModel == 'blog') {%>button-label__selected <%}%> site-nav-label transition">博客</p>
                            </a>
                        </li>
                        <li class="site-nav-item">
                            <a class="site-nav-link" href="/about" title="">
                                <p class="button-label <%if(pageModel == 'about') {%>button-label__selected <%}%> site-nav-label transition">关于</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
