a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
button,
caption,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
nav,
object,
ol,
p,
pre,
q,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
title,
tr,
tt,
u,
ul,
var {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
input,
select,
textarea {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  cursor: pointer;
  text-decoration: none;
}
body,
html {
  height: 100%;
}
body {
  overflow-x: auto;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #000000;
}
::-webkit-scrollbar-thumb:active {
  background-color: #000000;
}
.clearfix {
  /**+height: 1%;*/
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
a {
  -webkit-tap-highlight-color: transparent;
}
