
.icon {
    font-size: 20px;
    color: #fff;
}

.icon-middle {
    font-size: 23px;
}

.icon-big {
    font-size: 30px;
}

.hide {
    display: none!important;
}


.pt-10 {
    padding-top: 10px;
}
.pt-32 {
    padding-top: 32px;
}
.common-wrap {
    width: 980px;
    margin: 0 auto;
}

.fontStyle-1 {
    font: normal normal normal 22px/1.4em futura-lt-w01-book, sans-serif;
    color: #2F2E2E;
}

.fontStyle-2 {
    font: normal normal normal 14px/1.4em futura-lt-w01-light, sans-serif;
    color: #2F2E2E;
}

.fontStyle-5 {
    font: normal normal normal 20px/1.4em futura-lt-w01-book, sans-serif;
    color: #2F2E2E;
}



.fc-white {
    color: #fff;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}


.block {
    display: block;
}


.fs-0 {
    font-size: 0;
}


.txtNew {
    word-wrap: break-word;
    text-align: start;
    pointer-events: none;
}
