.platform-pc {
    .site-root {
        margin-top: 0px;
        padding-bottom: 0px;
    }
}

.platform-mobile {
    .site-root {
        padding-bottom: 0px;
        min-height: 100%;
        position: relative;
        margin: 0px auto;
    }
}
